@font-face {
    font-family: 'propagandaregular';
    src: url('fonts/propaganda-webfont.woff2') format('woff2'),
         url('fonts/propaganda-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}